*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Devanagari", sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

header{
    padding-bottom: 30px;
    background-color: #0d9e7a7c;
    width: 100%;
    text-align: center;
    padding-top: 150px;

}

h1{
    font-size: 100px;
}

form{
    padding-top: 50px;
}

input{
    width: 400px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
}

button{
    background-color: green;
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 10px;
    margin-left: 50px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

#remove{
    background-color: red;
}

ul{
    padding-top: 50px;
    width: 400px;    
}

h2{
    font-weight: normal;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}


